---
import Page from "@components/pages/Page.astro";
import collections from "@lib/collections";
import type { Armor } from "../../types";
import { useTranslations } from "@i18n/utils";
import Table from "@components/table/Table.astro";
import TableAoN from "@components/table/TableAoN.astro";
import TableName from "@components/table/TableName.astro";
import TableRulebook from "@components/table/TableRulebook.astro";
import TableTraits from "@components/table/TableTraits.astro";

const t = useTranslations();
const rawItems = collections.armor.map((item) => item.data as Armor);
const items = rawItems.sort((a, b) => a.name.localeCompare(b.name));
---

<Page title={t("pages.armor")}>
    <h1 class="text-4xl font-bold">{t("pages.armor")}</h1>
    <Table
        titles={[
            t("tables.name"),
            t("tables.source"),
            t("tables.level"),
            t("tables.traits"),
            "AoN",
        ]}>
        {
            items.map((item) => (
                <tr>
                    <TableName item={item} />
                    <TableRulebook item={item} />
                    <td>{item.level}</td>
                    <TableTraits item={item} />
                    <TableAoN item={item} />
                </tr>
            ))
        }
    </Table>
</Page>
