---
// TODO Refactor
import { Picture } from "astro:assets";
import pfsLogo from "../../../assets/logos/pfs.png";
import aonLogo from "../../../assets/logos/aon.png";
import Legacy from "../../tools/Legacy.astro";
import Trait from "../../tools/traits/Trait.astro";

const {
    title,
    access,
    level,
    markdown,
    pfs,
    prerequisite,
    source,
    spoiler,
    traits,
    type,
    url,
    legacy,
} = Astro.props;

interface Props {
    title:string;
    access?:string;
    level?:number;
    markdown?:string;
    pfs?:string;
    prerequisite?:string;
    source?:string[];
    spoiler?:string;
    traits?: [string, number][];
    type?:string;
    url?:string;
    legacy?:boolean;
}

---

  <!--TODO Improve style  -->
{legacy && <Legacy />}
<div id="feat-title" class="border-2 rounded-lg border-blue-900">
  <div class="flex flex-row justify-between p-2 items-center bg-blue-900">
    <h3 class="flex flex-row space-x-2 items-center flex-wrap">
      <span class="text-pretty">{title}</span>
    </h3>
  </div>

  <div id="feat-info" class="px-2 mt-1 flex flex-row flex-wrap items-center">
    <Picture
          src={pfsLogo}
          title={`PFS: Standard`}
          alt={`PFS: Standard`}
          pictureAttributes={{ class: "m-1 w-8 xl:w-12 mr-2" }}
        />
    {
      traits &&
        traits.length > 0 &&
        traits.map((trait) => (
          <Trait title={trait[0]} rarity={Number(trait[1])} />
        ))
    }
  </div>
  <div class="p-2">
    {title && <div>title: {title}</div>}
    {access && <div>access: {access}</div>}
    {level && <div>level: {level}</div>}
    {markdown && <div>markdown: {markdown}</div>}
    {pfs && <div>pfs: {pfs}</div>}
    {prerequisite && <div>prerequisite: {prerequisite}</div>}
    {source && <div>source: {source}</div>}
    {spoiler && <div>spoiler: {spoiler}</div>}
    {traits && <div>traits: {traits}</div>}
    {type && <div>type: {type}</div>}
    {url && <div>url: {url}</div>}
    {legacy && <div>legacy: {legacy}</div>}

    <slot />
    <div id="aon-button" class="flex flex-row-reverse">
      <a
        href={url}
        class="max-w-fit px-3 py-1.5 text-white no-underline bg-blue-900 rounded hover:bg-blue-600 flex flex-row items-center justify-center space-x-2"
        target="_blank">
        <Picture
          src={aonLogo}
          title={"AoN"}
          alt={"AoN"}
          pictureAttributes={{ class: "w-6 md:w-8" }}
        />
        <span class="text-xs md:text-lg font-semibold">{title}</span>
      </a>
    </div>
  </div>
</div>
