---
import {
    getAttributeModifiers,
    getCurriculum,
    getLanguages,
    getSpeed,
    getFeat,
    getSkill,
} from "@lib/helpers";
import { useTranslations } from "@i18n/utils";
import SpellLink from "@components/links/SpellLink.astro";
import FeatLink from "@components/links/FeatLink.astro";
import TrueFalse from "@components/statuses/TrueFalse.astro";

export interface DisplayInfoProps {
    title: string;
    content?: any;
    type?:
        | "default"
        | "list"
        | "attributes"
        | "speed"
        | "languages"
        | "curriculum"
        | "featsIds"
        | "skillsIds"
        | "trueFalse"
        | null;
}

const t = useTranslations();
const { title, content, type = "default" } = Astro.props;
---

<div>
    <strong class="font-bold text-md">
        {title}:
    </strong>
    {
        type === "attributes" && (
            <div class="grid grid-cols-3 xl:grid-cols-6 w-full xl:w-1/2 mt-2">
                {getAttributeModifiers(content).map(([type, value]) => (
                    <span class="bg-base-200 px-1 py-0.5 border border-base-300">
                        <span class="font-bold">
                            {type.toString().toUpperCase().slice(0, 3)}
                        </span>
                        {value}
                    </span>
                ))}
            </div>
        )
    }
    {
        type === "speed" && (
            <div class="grid grid-cols-3 xl:grid-cols-6 w-full mt-2">
                {getSpeed(content).map(([type, value]) => (
                    <span class="bg-base-200 px-1 py-0.5 border border-base-300">
                        <span class="font-bold">{type}</span>
                        {value + " " + t("speed.unit")}
                    </span>
                ))}
            </div>
        )
    }
    {
        type === "languages" && (
            <span>
                {getLanguages(content).map(
                    (language: [string | number, string][], index: number) => {
                        const [id, name] = language;
                        const total = content.length;
                        if (id === null) {
                            return name + (index < total - 1 ? ", " : "");
                        }
                        return (
                            <>
                                <a href={`/languages/${id}`} class="link">
                                    {name}
                                </a>
                                {index < total - 1 && ", "}
                            </>
                        );
                    },
                )}
            </span>
        )
    }
    {
        type === "curriculum" && (
            <div class="join join-vertical bg-base-100 w-full mt-2">
                {getCurriculum(content).map(([level, spells]) => (
                    <>
                        <div class="flex flex-row flex-wrap space-x-2">
                            <div class="font-bold w-full my-4">
                                {level === "0"
                                    ? t("arcaneSchool.cantrips").toUpperCase()
                                    : level === "initial"
                                      ? t("arcaneSchool.initial").toUpperCase()
                                      : level === "advanced"
                                        ? t(
                                              "arcaneSchool.advanced",
                                          ).toUpperCase()
                                        : t(
                                              "arcaneSchool.level",
                                          ).toUpperCase() +
                                          " " +
                                          level.toUpperCase()}
                            </div>
                            {["initial", "advanced"].includes(level) ? (
                                <SpellLink id={spells[0]} name={spells[1]} />
                            ) : (
                                spells.map(([id, name]) => (
                                    <SpellLink id={id} name={name} />
                                ))
                            )}
                        </div>
                    </>
                ))}
            </div>
        )
    }
    {type === "default" && <span>{content}</span>}
    {
        type === "list" && (
            <ul class="list">
                {content.map((item: unknown) => (
                    <li>{item}</li>
                ))}
            </ul>
        )
    }
    {
        type === "featsIds" && (
            <ul class="list">
                {content.map((item: number) => (
                    <li>
                        <FeatLink id={item} name={getFeat(item)?.name} />
                    </li>
                ))}
            </ul>
        )
    }
    {
        type === "skillsIds" && (
            <ul class="list">
                {content.map((item: number) => (
                    <li>
                        <a href={`/skills/${item}`} class="link">
                            {getSkill(item)?.name}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
    {type === "trueFalse" && <TrueFalse value={content} />}
</div>
