---
import { getCollection } from "astro:content";
import type { BaseItem } from "../../types";
import AoN from "@components/AoN.astro";
import Traits from "@components/Traits.astro";
import { marked } from "marked";
import getTraits from "@utils/getTraits";

interface Props {
    item: BaseItem;
}

const { item } = Astro.props;

const rulebook = await getCollection(
    "source",
    (source) => source.data.id === item.rulebook_id,
);

const totalTraits = getTraits(item);
---

<article class="prose lg:prose-xl">
    <header>
        <h1 id="name" class="flex flex-row gap-2 items-center mb-2">
            <slot name="before-title" />
            {item.name ? item.name : "No title"}
            <slot name="after-title" />
        </h1>
        <h2 id="original_name" class="flex flex-row gap-2">
            {item.original_name}
            <AoN url={item.aon} />
        </h2>
        {
            totalTraits && (
                <div
                    id="traits"
                    class="flex flex-row flex-wrap gap-2 not-prose"
                >
                    <Traits trait={totalTraits} />
                </div>
            )
        }
        <div id="info">
            <p>{rulebook[0].data.name} pg. {item.page_number}</p>
        </div>
        <slot name="header" />
    </header>
    <hr class="not-prose my-2" />

    <slot name="before-content" />
    {item.content && <div id="content" set:html={marked.parse(item.content)} />}
    <slot name="after-content" />
    <slot name="footer" />
</article>
