---
import menu from "../../menu.json";

interface Props {
  mobile?: boolean;
}

type Menu = {
  name: string;
  link: string;
  children?: Menu[];
};

const { mobile } = Astro.props;
---

{
  menu.map((item) => {
    if (!item.children) {
      return (
        <li>
          <a href={item.link}>{item.name}</a>
        </li>
      );
    }

    const subMenu = (
      <ul class="p-2">
        {item.children.map((child) => (
          <li>
            <a href={child.link}>{child.name}</a>
          </li>
        ))}
      </ul>
    );

    return (
      <li>
        {mobile ? (
          <a>{item.name}</a>
        ) : (
          <details>
            <summary>{item.name}</summary>
            {subMenu}
          </details>
        )}
        {mobile && subMenu}
      </li>
    );
  })
}
